/*
    Document   : css/isbnClient.css
    Created on : 2015-06-29 04:24 PM
    Author     : StayGrafting
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}

body{
    font-family:helvetica;
    background-color: #b0c4de;
    
}

.min_text_box{
    width:350px;
    height:20px;
    padding:5px;
    margin-bottom:10px
}

.min_button{
    height:30px;
    width:60px;
    padding:5px;
    margin-bottom:20px;
        
}

.minHolder{
    width:600px;
    margin: 0 auto;
    
}