<div class="minHolder">
<h3>Welcome to ISBN Books</h3>
<form ng-controller="logControl as log">
    <span class="err_mess" ng-bind="log.mess"></span><br/>
    <input type="text" class="min_text_box" id="username"placeholder="Username" ng-model="log.user_name"> <br />
    <input type="password" class="min_text_box" id="password" placeholder="Password" ng-model="log.pass"/><br/>
    <button class="min_button" ng-click= "log.logOn()">Login</button><br/>
    <b>Not Registered?</b> Sign Up  <a href="/#signup">Here</a> |
    Search  <a href="/#welcome">Here</a> 
    
</form>
    
</div>