<div class="minHolder" ng-controller="searchControl as sc">
<span ng-bind="sc.user_name">
    </span><br/>
    <span><a href="#/{{sc.loginlink()}}">{{sc.loginlink()}}</a>  </span>  

<div>
    <form>
        <input class="min_text_box" type="text" ng-model="sc.searchisbn">
        <button class="min_button" ng-click="sc.gosearch()">
            search
        </button>
    </form>
    
</div>
<div  id="">
    <img ng-src="{{sc.book.thumbnail}}" /><br/>
    <span ng-bind="sc.book.title"></span><br/>
    <span ng-bind="sc.book.publisher"></span><br/>
    <span ng-bind="sc.book.date"></span><br/>
    <span ng-bind="sc.book.desc"></span><br/>
    
</div>
    </div>