<div class="minHolder">
    
<h2>Fill In The form Below to Register</h2>
    <a href="/#login">Back</a>
<form ng-controller="registerController as reg">
    
    <input class="min_text_box" type="text" placeholder="Email Address" ng-model="reg.email"/>
    <input  class="min_text_box" type="text" placeholder="First Name" ng-model="reg.fname"/>
    <input class="min_text_box" type="text" placeholder="Last Name" ng-model="reg.lname"/>
    <input class="min_text_box" type="text" placeholder="Password" ng-model="reg.pass"/>
    <input class="min_text_box" type="text" placeholder="Confirm password" ng-model="reg.pass_conf"/><br/>
    <button class="min_button" ng-click="reg.register()">Register</button>
</form>

</div>